<div class="row color2 re xl">
    <div class="col-sm-12"></div>
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler m-4 position-relative" type="button" (click)="toggleCollapsed()" data-toggle="collapse" aria-haspopup="true" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="row" id="navbarTogglerDemo01">
                <div class="col-12 col-lg-8">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 k">
                      <li class="nav-item p-3">
                        <a class="nav-link" href="">
                          <div class="row">
                            <div class="col x">
                              FUNERALES ARIS
                            </div>
                          </div>
                        </a>
                      </li>
                        <li class="nav-item p-3">
                            <a class="nav-link" href="#/info">
                              <div class="row">
                                <div class="col x">
                                  INFORMACIÓN
                                </div>
                              </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 ff ff-1">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 k">
                        <li class="nav-item p-3">
                            <a class="nav-link" href="#/login">
                              <div class="row">
                                <div class="col x">
                                  INICIAR SESIÓN
                                </div>
                              </div>
                            </a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link" href="#/register">
                              <div class="row">
                                <div class="col x">
                                  REGISTRARSE
                                </div>
                              </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>



